<!-- INBOX TASKS -->
<div th:fragment="inbox_tasks" class="tab-content">
    <div class="fade show active">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">
                    <h3>Inbox tasks</h3>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show">
                <div class="card-body">
                    <div class="custom-control custom-checkbox my-1 mr-sm-2"
                    th:if="${inboxTasks}"
                    th:each="task : ${inboxTasks}">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" th:text="${task}">Check this custom checkbox</label>
                            <a href="#" class="badge badge-primary float-right">Primary</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- INBOX TASKS END -->