<!-- Left side navigation -->
<div th:fragment="left_side_navigation" class="col-md-4 text-left">
    <div class="nav flex-column nav-pills" aria-orientation="vertical">
        <a class="nav-link"
           th:href="@{/inbox}"
           th:classappend="${#httpServletRequest.getRequestURI() == '/inbox'} ? 'active':''">
            <i class="fas fa-inbox"></i> Inbox <span class="badge">(0)</span>
        </a>
        <a class="nav-link"
           th:href="@{/today}"
           th:classappend="${#httpServletRequest.getRequestURI() == '/today'} ? 'active':''">
            <i class="fas fa-calendar-day"></i> Today <span class="badge">(0)</span>
        </a>
        <a class="nav-link"
           th:href="@{/future}"
           th:classappend="${#httpServletRequest.getRequestURI() == '/future'} ? 'active':''">
            <i class="fas fa-calendar-alt"></i> Next 7 days <span class="badge">(0)</span>
        </a>
    </div>
    <hr class="mt-3 mb-3"/>
    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
        <a class="nav-link">
            <i class="fas fa-tags"></i> Labels
        </a>
        <a class="nav-link">
            <i class="fas fa-project-diagram"></i> Projects
        </a>
    </div>
</div>
<!-- Left side navigation End -->