<!-- Navigation -->
<nav th:fragment="standard_navigation" class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#" th:href="@{/}">Task Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pull-right">
            <ul class="navbar-nav ml-auto">
                <!--<li class="nav-item active">-->
                    <!--<a class="nav-link" href="#"><i class="fas fa-home fa-2x"></i>-->
                        <!--<span class="sr-only">(current)</span>-->
                    <!--</a>-->
                <!--</li>-->
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-plus fa-2x"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/notifications}" href="#"><i class="fas fa-bell fa-2x"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-cog fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navigation End -->